<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <div id="body"></div>
  </div>
  <div class="modal-footer">
    <div>
      <input id="btn" type="button" value="Fechar" class="btn-small"/>
    </div>
  </div>
</div>
