<ul id="dropdown1" class="dropdown-content">
  <li>
    <%=link_to 'Conta corrente',accounts_path() %>
  </li>
  <li class="divider"></li>
  <%= render 'devise/menu/login_items' %>
</ul>

<p class="account-data-menu-bar">
  <%= String.new.concat("Agência 001- Conta ",format('%06d', current_user.id),"\n", "Saldo ",number_to_currency(current_user.accounts.first.amount)) %><br>
</p>
<li>
  <a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.name%>
    <i class="material-icons right">arrow_drop_down</i>
  </a>
</li>
