<b class="transaction_value"><%=number_to_currency transaction.transaction_money_moviment%></b>

<% if transaction.type_transaction == 'transfer' %>
	<div class="transfer-description">
		<%= String.new().concat('Transferência ', number_to_currency(transaction.value), ' | ', 'Taxa ', number_to_currency(transaction.tax) )%>
	</div>
<% end %>